@font-face {
    font-family: 'Cooper Hewitt';
    src: url('../fonts/CooperHewitt-Light.woff') format('woff'),
    url('../fonts/CooperHewitt-Thin.woff') format('woff');
}

:root {
    --white: #FFFFFF;
    --light-grey: #D9D9D9;
    --beaver: #A78976;
    --black: #141414;
    --eerie-black: #0e1a29;
    --jet: #122235;
    --piernaw: 14rem;
    --handw: 15rem;
    --benchiw: 40rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scrollbar-width: thin;
    scrollbar-color: var(--beaver) var(--eerie-black);
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 8px;
}

html::-webkit-scrollbar-track {
    background-color: var(--eerie-black);
}


html::-webkit-scrollbar-thumb {
    background-color: var(--beaver);;
}

::selection {
    background-color: #776254;
}

/* Header */

.header {
    background-color: var(--jet);
    padding: .8rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .5s;
}

.header.abajo {
    backdrop-filter: blur(15px);
    background: rgba(41,41,41,.3);
}

.header .logo__header {
    width: 4.5rem;
}

.logo__header {
    width: 7.5rem !important;
}

nav.nav_menu.active {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 6.3rem;
    width: 100%;
    height: auto;
    background-color: var(--eerie-black);
    box-shadow: 0 10px 16px -6px rgb(5 5 5 / 30%), 0 25px 10px -24px rgb(5 5 5 / 10%);
    animation: ease .4s left forwards;
}

@keyframes left {
    0% {
        left: 100%;
    }
    100% {
        left: 0;
    }
}

nav.nav_menu.active a {
    padding: 2rem;
    font-family: 'Cooper Hewitt';
    letter-spacing: .1rem;
    text-decoration: none;
    color: var(--white);
    font-size: 2rem;
    width: 100%;
    text-align: center;
}

nav.nav_menu.active a:hover {
    color: var(--beaver);
    background-color: var(--black);
    transition: all .4s;
}

nav.nav_menu.not-active a {
    display: none;
}

nav.nav_menu.active .flags {
    width: 12rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}

nav.nav_menu.active .flags__item {
    margin: 0 .3rem;
    filter: contrast(65%);
    cursor: pointer;
}

nav.nav_menu.not-active .flags {
    display: none;
}

.btn {
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translate(-50%, -50%);
    width: 3rem;
    cursor: pointer;
}

#button span {
    display: block;
    width: 100%;
    box-shadow: 0 2px 10px 0 rgb(0, 0, 0, 0.3);
    border-radius: 3px;
    height: .3rem;
    background: var(--beaver);
    transition: all .3s;
    position: relative;
}

span+span {
    margin-top: .6rem;
}

.active span:nth-child(1) {
    animation: ease .7s top forwards;
}

.not-active span:nth-child(1) {
    animation: ease .7s top-2 forwards;
}

.active span:nth-child(2) {
    animation: ease .7s scaled forwards;
}

.not-active span:nth-child(2) {
    animation: ease .7s scaled-2 forwards;
}

.active span:nth-child(3) {
    animation: ease .7s bottom forwards;
}

.not-active span:nth-child(3) {
    animation: ease .7s bottom-2 forwards;
}

@keyframes top {
    0% {
        top: 0;
        transform: rotate(0);
    }
    50% {
        top: 1rem;
        transform: rotate(0);
    }
    100% {
        top: 1rem;
        transform: rotate(45deg);
    }
}

@keyframes top-2 {
    0% {
        top: .8rem;
        transform: rotate(45deg);
    }
    50% {
        top: .8rem;
        transform: rotate(0deg);
    }
    100% {
        top: 0;
        transform: rotate(0deg);
    }
}

@keyframes bottom {
    0% {
        bottom: 0;
        transform: rotate(0);
    }
    50% {
        bottom: .8rem;
        transform: rotate(0);
    }
    100% {
        bottom: .8rem;
        transform: rotate(135deg);
    }
}

@keyframes bottom-2 {
    0% {
        bottom: .8rem;
        transform: rotate(135deg);
    }
    50% {
        bottom: .8rem;
        transform: rotate(0);
    }
    100% {
        bottom: 0;
        transform: rotate(0);
    }
}

@keyframes scaled {
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes scaled-2 {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

/* Home */

.home {
    background-color: var(--jet);
    width: 100%;
    height: auto;
}

.container_image-home {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 12rem 0 5rem 0;
}

.image_home {
    max-width: 65%;
    transition: .4s;
    animation: image 2s;
}

.home_info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.home_text-1 {
    font-family: 'Cooper Hewitt';
    color: var(--white);
    font-size: 2rem;
}

.home_text-2 {
    font-family: 'PT Sans';
    color: var(--beaver);
    font-size: 3.2rem;
    margin-bottom: 1rem;
}

.home_text-3 {
    font-family: 'Cooper Hewitt';
    color: var(--white);
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    width: 31rem;
    margin: 0 auto;
    text-align: start;
}

.text-type {
    position: relative;
}

.text-type::after {
    content: '|';
    font-weight: bold;
    position: absolute;
    right: 0;
    color: var(--beaver);
    background-color: var(--jet);
    width: 100%;
    animation: typing 3s steps(24) alternate infinite;
}

@keyframes typing {
    to{
        width: 0%;
    }
}

.container_parrafo-info {
    display: none;
}

.cv_button {
    background-color: var(--beaver);
    border-radius: 3rem;
    padding: .6rem 2rem .5rem 2rem;
    color: var(--jet);
    font-family: 'Cooper Hewitt';
    font-weight: bold;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin: 2rem 0;
    border: none;
    cursor: pointer;
}

.contact_button {
    display: none;
}

.links {
    display: flex;
    justify-content: center;
    padding: 2rem 0 6rem 0;
}

.links img {
    width: 2.4rem;
    margin: 0 .5rem;
}

.links .icon-CodePen {
    width: 2.1rem;
    margin-top: 2px;
}

/* Sobre mí */

.sobreMi {
    background-color: var(--eerie-black);
    width: 100%;
    height: auto;
}

.sobreMi h1 {
    display: block;
    text-align: center;
    color: var(--white);
    font-family: 'Cooper Hewitt';
    font-size: 2.4rem;
    letter-spacing: .1rem;
    padding-top: 6rem;
}

.container_texto-sobreMi {
    display: flex;
    flex-direction: column;
    padding: 4rem 3rem 3rem 3rem;
}

.title_sobreMi {
    font-family: 'Cooper Hewitt';
    color: var(--beaver);
    text-align: center;
    font-size: 2.2rem;
    letter-spacing: .1rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.texto_sobreMi {
    color: var(--light-grey);
    font-family: 'Cooper Hewitt';
    font-size: 1.5rem;
    letter-spacing: .1rem;
    white-space: pre-line;
    text-align: justify;
    line-height: 2.2rem;
}

.container_image-sobreMi {
    position: relative;
    width: 65%;
    margin: 0 auto;
    padding: 1rem 0;
    border-bottom: 2px solid var(--jet);
}

.image_sobreMi {
    width: 65%;
    display: block;
}

.image_mano {
    position: absolute;
    top: 61%;
    left: 6%;
    pointer-events: none; 
    z-index: 2;
    width: 33%; /* Ajusta el tamaño según sea necesario */
}


.cafe{
    position: absolute;
    top: 64%;
    left: 18%;
    z-index: 1;
    width: 25%; /* Ajusta el tamaño según sea necesario */
}

.ojos {
    position: absolute;
    top: 18%;
    left: 23%;
    
    width: 15%; /* Ajusta el tamaño según sea necesario */
}

.ceja1 {
    position: absolute;
    top: 16.6%;
    left: 22.3%;
    
    width: 15%; /* Ajusta el tamaño según sea necesario */
}
.ceja2 {
    position: absolute;
    top: 16.6%;
    left: 22.3%;
    
    width: 15%; /* Ajusta el tamaño según sea necesario */
}
.gafas {
    position: absolute;
    top: 17.6%;
    left: 19.3%;
    z-index:1;
    width: 23%; /* Ajusta el tamaño según sea necesario */
}
.labios {
    position: absolute;
    top: 28.3%;
    left: 23.8%;
    width: 13%;
    clip-path: inset(0 15% 0 15%); /* Recorta los extremos de los labios */
    transition: clip-path 0.5s ease-in-out; /* Para animar el recorte */
}
.cafe:hover {
    cursor: pointer;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes shake-intense {
    0% { transform: translate(10px, 10px) rotate(0deg); }
    10% { transform: translate(-10px, -15px) rotate(-10deg); }
    20% { transform: translate(-20px, 0px) rotate(10deg); }
    30% { transform: translate(20px, 15px) rotate(0deg); }
    40% { transform: translate(10px, -10px) rotate(10deg); }
    50% { transform: translate(-10px, 20px) rotate(-10deg); }
    60% { transform: translate(-20px, 10px) rotate(0deg); }
    70% { transform: translate(20px, 10px) rotate(-10deg); }
    80% { transform: translate(-10px, -15px) rotate(10deg); }
    90% { transform: translate(10px, 20px) rotate(0deg); }
    100% { transform: translate(10px, -15px) rotate(-10deg); }
}

.angry-eyebrows1 {
    top: 15%; /* Baja ligeramente las cejas */
    left: 22%; /* Mueve las cejas ligeramente hacia el centro */
    transform: rotate(-10deg); /* Inclina las cejas hacia abajo para parecer enfadado */
    transition: all 0.3s ease-in-out; /* Animación suave para que el cambio sea visible */
}

.angry-eyebrows11 {
    top: 16.5%; /* Baja ligeramente las cejas */
    left: 22.5%; /* Mueve las cejas ligeramente hacia el centro */
    transform: rotate(10deg); /* Inclina las cejas hacia abajo para parecer enfadado */
    transition: all 0.3s ease-in-out; /* Animación suave para que el cambio sea visible */
}
.angry-eyebrows22 {
    top: 17%; /* Baja ligeramente las cejas */
    left: 22%; /* Mueve las cejas ligeramente hacia el centro */
    transform: rotate(-13deg); /* Inclina las cejas hacia abajo para parecer enfadado */
    transition: all 0.3s ease-in-out; /* Animación suave para que el cambio sea visible */
}
.angry-eyebrows2 {
    top: 15.6%; /* Baja ligeramente las cejas */
    left: 22%; /* Mueve las cejas ligeramente hacia el centro */
    transform: rotate(-10deg); /* Inclina las cejas hacia abajo para parecer enfadado */
    transition: all 0.3s ease-in-out; /* Animación suave para que el cambio sea visible */
}

.angry-eyebrows111 {
    top: 14.5%; /* Baja ligeramente las cejas */
    left: 22.5%; /* Mueve las cejas ligeramente hacia el centro */
    transform: rotate(-24deg); /* Inclina las cejas hacia abajo para parecer enfadado */
    transition: all 0.3s ease-in-out; /* Animación suave para que el cambio sea visible */
}
.angry-eyebrows222 {
    top: 14%; /* Baja ligeramente las cejas */
    left: 22.5%; /* Mueve las cejas ligeramente hacia el centro */
    transform: rotate(24deg); /* Inclina las cejas hacia abajo para parecer enfadado */
    transition: all 0.3s ease-in-out; /* Animación suave para que el cambio sea visible */
}
/* Clase para aplicar la animación */
.shake {
    animation: shake 0.5s; /* Duración de 0.5 segundos */
    animation-iteration-count: 1; /* Repetir solo una vez */
}

.shake-intense {
    animation: shake 0.1s; /* Duración de 0.5 segundos */
    animation-iteration-count: 5; /* Repetir solo una vez */
}
/* Gotas de café */
.gota {
    position: absolute;
    width: 6px;
    height: 10px;
    background: #654321; /* Color café */
    border-radius: 50%;
    opacity: 0;
    animation-play-state: paused; /* Pausamos la animación por defecto */
    
}

#lagrima {
    position: absolute;
    width: 6px;
    height: 10px;
    background: #8d9eeb; /* Color azul */
    border-radius: 50%;
    opacity: 0;
    animation: lagrima 3s infinite 2s;
    animation-play-state: paused; /* Pausamos la animación por defecto */
    top: 28%;
    left: 35%;
    
}
.charco {
    position: absolute;
    width: 20%; /* Ajusta el tamaño según sea necesario */
    height: 10%;
    background-color: #654321; /* Color del charco de café */
    border-radius: 50%;
    bottom: -5%; /* Ajusta para que el charco esté en la base */
    left: 17%; 
    z-index: -3;/* Ajusta la posición relativa al café */
    opacity: 0; /* Inicialmente oculto */

    transform: scale(0); /* Inicialmente pequeño */
    animation: crecerCharco 4s forwards ease-in-out; /* Aplicamos una animación de 3s, pausada por defecto */
    animation-play-state: paused; /* La animación empieza pausada */
}
@keyframes crecerCharco {
    0% {
        transform: scale(0); /* Comienza desde tamaño 0 */
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    100% {
        transform: scale(1); /* Crece hasta su tamaño completo */
        opacity: 1;
    }
}
/* Posicionamos las gotas cerca del café */
.cafe-gota1 {
    left: 25%;
    top: 55%;
    animation: caerGota1 3s infinite;
}

.cafe-gota2 {
    left: 27%;
    top: 58%;
    animation: caerGota2 3s infinite 1s;
}

.cafe-gota3 {
    left: 30%;
    top: 60%;
    animation: caerGota3 3s infinite 2s;
}

/* Animaciones de las gotas */
@keyframes caerGota1 {
    0% {
        top: 75%;
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        top: 90%;
        opacity: 1;
    }
    100% {
        top: 90%;
        opacity: 0;
    }
}
@keyframes caerGota2 {
    0% {
        top: 75%;
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        top: 90%;
        opacity: 1;
    }
    100% {
        top: 90%;
        opacity: 0;
    }
}
@keyframes lagrima {
    0% {
        top: 28%;
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        top: 52%;
        opacity: 1;
    }
    100% {
        top: 92%;
        opacity: 0;
    }
}

@keyframes caerGota3 {
    0% {
        top: 80%;
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        top: 95%;
        opacity: 1;
    }
    100% {
        top: 100%;
        opacity: 0;
    }
}


@keyframes caidaCafe {
    0% {
        transform: rotate(0deg) translateY(0);
    }
    50% {
        transform: rotate(45deg) translateY(50px);
    }
    100% {
        top: 80%;
        transform: rotate(90deg) translateY(50px);
    }
}

.cafe-caida {
    animation: caidaCafe 2s forwards ease-in-out;
}


/* Habilidades */

.habilidades {
    background-color: var(--jet);
    width: 100%;
    height: auto;
}  

.habilidades h1 {
    display: block;
    text-align: center;
    color: var(--white);
    font-family: 'Cooper Hewitt';
    font-size: 2.4rem;
    letter-spacing: .1rem;
    padding: 6rem 0 5rem 0;
}

.puntos1-habilidades, .puntos2-habilidades {
    display: none;
}

.container_fondoPuntos--habilidades img {
    display: none;
}

.cards_container--habilidades {
    display: grid;
    grid-template-columns: 13rem 13rem;
    grid-template-rows: 14rem 14rem 14rem;
    gap: 3rem;
    justify-content: center;
    padding-bottom: 5rem;
}

.cards--habilidades {
    background-color: var(--eerie-black);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* filter: saturate(40%); */
    width: 13rem;
    height: 14rem;
}

.cards--habilidades img {
    margin-top: .7rem;
    width: 9rem;
}

.cards--habilidades p {
    color: var(--white);
    font-family: 'Cooper Hewitt';
    letter-spacing: .1rem;
    font-size: 1.4rem;
    margin-bottom: .7rem;
}

/* Formación */

.formacion {
    background-color: var(--eerie-black);
    width: 100%;
    height: auto;
}

.formacion h1 {
    display: block;
    text-align: center;
    color: var(--white);
    font-family: 'Cooper Hewitt';
    font-size: 2.4rem;
    letter-spacing: .1rem;
    padding: 6rem 0 5rem 0;
}

.cards_container--formacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem 3rem 2rem;
}

.cards--formacion {
    background-color: var(--jet);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 32rem;
    height: 33rem;
    margin: 0 1rem 2rem 1rem;
    padding: 1rem;
    justify-content: space-between;
}

.cards--formacion img {
    width: 25rem;
}

.container_texto--formacion {
    margin-bottom: 1.3rem;
}

img.logo-unal {
    width: 24rem;
}

img.logo-one {
    width: 21rem;
    margin: 7rem 0 6rem 0;
}

img.logo-sena {
    width: 18rem;
    margin: 2.4rem 0;
}

.cards--formacion p:nth-child(1) {
    color: var(--beaver);
    font-family: 'Cooper Hewitt';
    letter-spacing: .1rem;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: .7rem;
}

.cards--formacion p:nth-child(2) {
    color: var(--light-grey);
    font-family: 'Cooper Hewitt';
    letter-spacing: .1rem;
    font-size: 1.4rem;
}

/* Proyectos */

.proyectos {
    background-color: var(--jet);
    width: 100%;
    height: auto;
    padding: 0 1rem 1rem 1rem;
}

.proyectos h1 {
    display: block;
    text-align: center;
    color: var(--white);
    font-family: 'Cooper Hewitt';
    font-size: 2.4rem;
    letter-spacing: .1rem;
    padding: 6rem 0 5rem 0;
}

.puntos1-proyectos,
.puntos2-proyectos {
    display: none;
}

.cards_container--proyectos {
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards--proyectos {
    border-radius: 20px;
    padding-bottom: 2rem;
    background-color: var(--eerie-black);
    width: 33rem;
    width: 38rem;
    box-shadow: 0 10px 16px -6px rgb(5 5 5 / 30%), 0 25px 10px -24px rgb(5 5 5 / 10%);
}

.card_JuegoAhorcado {
    margin-bottom: 4rem;
}

.card_portafolio {
    margin-bottom: 4rem;
    border: 1px solid var(--eerie-black);
}

.container_imgCard--proyectos {
    margin-bottom: 1rem;
    border-radius: 20px 20px 0 0;
}

.container_imgCard--proyectos img {
    width: 100%;
    border-radius: 20px 20px 0 0;
    height: 18rem;
}

.container_textCard--proyectos {
    padding: 0 2rem;
    margin-bottom: 2rem;
}

.container_textCard--proyectos h2 {
    font-family: 'Cooper Hewitt';
    letter-spacing: .1rem;
    font-size: 1.8rem;
    color: var(--white);
    font-weight: bold;
    display: inline;
}

.container_textCard--proyectos p {
    color: var(--white);
    font-family: 'Cooper Hewitt';
    letter-spacing: .1rem;
    font-size: 1.4rem;
    margin-top: 1rem;
}

.container_btn--proyectos {
    display: flex;
    justify-content: center;
    top: 10%;
}

.container_btn--proyectos a{
    text-decoration: none;
    display: inline-block;
    margin: 0 1.5rem;
}

.container_btn--proyectos button {
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15.8rem;
    letter-spacing: .1rem;
    font-weight: bold;
    cursor: pointer;
}

.btn_demo {
    padding: .9rem 0;
    border: none;
    background-color: var(--beaver);
    color: var(--eerie-black);
}

.btn_repo {
    padding: .8rem 0;
    background: none;
    color: var(--beaver);
    border: 1px solid var(--beaver);
}

.btn_demo img {
    width: 2rem;
    margin-right: .8rem;
}

.container_btn--proyectos .btn_demo:hover {
    background: #776254;
    box-shadow: 0px 13px 33px -14px rgba(0,0,0,0.75);
    transition: all .4s ease;
}

.btn_repo img {
    width: 2rem;
    margin-right: .8rem;
}

.container_btn--proyectos .btn_repo:hover {
    background: var(--black);
    box-shadow: 0px 13px 33px -14px rgba(0,0,0,0.75);
    transition: all .4s ease;
}

/* Contacto */

.contacto {
    background-color: var(--eerie-black);
    width: 100%;
    height: auto;
    padding: 0 2rem 5rem 2rem;
    position: relative;
    
}

.contacto::before {
    content: "";
	position: absolute;
	width: 97%;
	height: 100%;/*
    background: repeating-conic-gradient(#FFF9 0%, #fff0 .000075%, #fff0 .0005%, #fff0 .12345%);
	filter: blur(0.5px) drop-shadow(0 0 1px #fff) drop-shadow(0 0 1px #fff);*/

}


.intento {
    position:relative;
}


.container--farola{
    position: relative;
    top: 50%;
    display: flex;
    z-index: 0;

}

.bench {
    position: relative;
    top: 45rem;
    width: 80%;
    left: 10%;
    
    
}



.mantener {
    position: absolute;
}
.benchImg {
    z-index: 1;
    width: var(--benchiw);
    position: absolute;
}
.pierna {
    position: absolute;
    width: var(--piernaw);
    top: 18rem;
    left: 22rem;
    z-index:1;


}


.handBench {
    position: absolute;
    width: var(--handw);
    left: 17rem;
    top: 10.4rem;
    z-index:2;
    /*animation: moverMano 4s forwards infinite;*/


}
.light {
    position: absolute;
    top: -3.5rem;
    left: 11.5rem;

    transform: translateX(-50%);
    width: 5rem;
    height: 8rem;
    background-color: rgba(255, 255, 204, 0.6); /* Color amarillo pálido para la luz */
    border-radius: 100%;
    box-shadow: 0 0 50px 20px rgba(255, 255, 204, 0.8);
    z-index: 0;
    animation: flickerl 2s infinite;
}
.farola {
    position: absolute;
    top: -7rem;
    width: 70rem;
    z-index: 0;
   
}

.farola img {
    width: 23rem;
}

@keyframes flickerl {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.85;
    }
}

#movilLuz {
    content: "";
    position: absolute;
    top: 8rem; /* Ajusta esto para colocar la luz sobre la cara */
    left: 20.2rem; /* Ajusta según la posición de la cara */
    width: 1rem;
    height: 2rem;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(0, 132, 255, 0.4) 20%, transparent 80%);
    box-shadow: 0 0 30px 30px rgba(0, 132, 255, 0.2);
    filter: blur(8px);
    z-index: 10; /* Coloca la luz por encima de los elementos */
    animation: flicker 4s infinite;
}

/* Animación para el parpadeo */
@keyframes flicker {
    0% {
        opacity: 1;
        box-shadow: 0 0 30px 30px rgba(0, 132, 255, 0.3);
    }
    50% {
        opacity: 0.95;
        box-shadow: 0 0 40px 40px rgba(0, 132, 255, 0.16);
    }
    100% {
        opacity: 1;
        box-shadow: 0 0 30px 30px rgba(0, 132, 255, 0.3);
    }
}


 @keyframes moverMano {
    0% {
        left: 17rem;
        top: 10.4rem;
        transform: rotate(2deg);
    }

    100% {
        
        top: 10.4rem;
        transform: rotate(-2deg); /* Rotación para simular el movimiento hacia la otra pierna */
    }
 }
@keyframes moverPierna {
    0% {
        top: 18rem;
        left: 22rem;
        transform: rotate(0deg);
    }

    100% {
        top:15rem; /* Ajusta este valor según la posición de la pierna izquierda */
        clip-path: inset(0 0 0 30%);
        left: 20rem; /* Ajusta este valor según la posición de la pierna izquierda */
        transform: rotate(-30deg); /* Rotación para simular el movimiento hacia la otra pierna */
    }
}


.ground-light {
	background: #dac47080;
	width: 25rem;
    position: relative;
    right: 10rem;
	top: -10rem;
	height: 5rem;
	border-radius: 100%;
    bottom: 5rem;

}

.mover {
    animation: moverPierna 5s forwards;


}
.volver {
    animation: moverPierna 5s reverse forwards; /* La animación hacia atrás (reverse) */
    animation-fill-mode: forwards; /* Mantener el último estado de la animación */

}

.contacto h1 {
    display: block;
    text-align: center;
    color: var(--white);
    font-family: 'Cooper Hewitt';
    font-size: 2.4rem;
    letter-spacing: .1rem;
    padding: 6rem 0 4rem 0;
}

.container_img--contacto {
    display: none;
}

.container--contacto {
    width: 100%;
    background-color: var(--beaver);
    border-radius: 24px;
    padding: 3rem;
    position: relative;
    opacity: 0.9;
    z-index: 10;
    
}


.container_text--contacto {
    width: 100%;
}

.container_text--contacto p {
    font-size: 1.6rem;
    font-family: 'Cooper Hewitt';
    color: var(--white);
    margin-bottom: 3rem;
    letter-spacing: 1px;
    line-height: 2.3rem;
}

.form-contact input {
    font-family: 'Cooper Hewitt';
    background: transparent;
    border: 1px solid var(--light-grey);
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    color: var(--white);
    font-size: 1.6rem;
    outline: none;
    margin-bottom: 2rem;
    letter-spacing: 1px;
}

.form-contact input::placeholder {
    color: var(--light-grey);
}

.form-contact .input-invalid {
    border: 1px solid #574438;
    color: #574438;
}

.form-contact textarea {
    background: transparent;
    border: 1px solid var(--light-grey);
    font-family: 'Cooper Hewitt';
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    color: var(--white);
    font-size: 1.6rem;
    outline: none;
    margin-bottom: 3rem;
    letter-spacing: 1px;
    resize: none;
}

.form-contact textarea::placeholder {
    color: var(--light-grey);
}

.form-contact textarea::-webkit-scrollbar {
    width: 8px;
}

.form-contact textarea::-webkit-scrollbar-track {
    background-color: #776254;
}


.form-contact textarea::-webkit-scrollbar-thumb {
    background-color: #574438;
}


.btn_form--contacto {
    display: flex;
    justify-content: center;
}

.btn_form--contacto button {
    background: #776254;
    border: none;
    font-family: 'Cooper Hewitt';
    width: 20rem;
    padding: .8rem 1rem;
    border-radius: 1rem;
    color: var(--white);
    font-size: 1.8rem;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 1s all;
}

.btn_form--contacto button:hover {
    background: #776254;
    color: var(--black);
    font-weight: bold;
    transform: scale(1.1);
    box-shadow: 0px 9px 15px -1px rgba(0,0,0,0.20);
    transition: all .4s ease;
}

.btn_form--contacto button:active {
    background: #574438;
}

/* Footer */

footer {
    background-color: var(--eerie-black);

}

.container--footer {
    border-top: 1px solid var(--jet);
    width: 90%;
    margin: 0 auto;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_redes-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heartIcon {
  

    margin: 0 auto !important; /* Centrar el corazón y añadir algo de margen */


}

.container_redes-footer a {
    text-decoration: none;
}

.container_redes-footer img {
    width: 3.5rem;
    margin: 0 .5rem 1.5rem .5rem;
}

.container_redes-footer .icon_codepen--footer {
    width: 3.1rem;
    margin-bottom: 1.7rem;
}

.container_text--footer {
    padding-bottom: 1rem;
    text-align: center; /* Centrar todos los elementos horizontalmente */
}

.container_text--footer span {
    font-family: 'Cooper Hewitt';
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.container_text--footer span:nth-child(1),
.container_text--footer span:nth-child(3) {
    color: var(--light-grey);
}

.container_text--footer img {
    width: 1.2rem;
    margin: 0 .2rem;
}

.container_text--footer span:nth-child(4) {
    color: var(--beaver);
    letter-spacing: .1rem;
    margin-left: .2rem;
}

/* Botón ir arriba */

.go-top-container {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 6rem;
    height: 6rem;
    z-index: -1;
}

.go-top-button {
    width: 0rem;
    height: 0rem;
    background: rgba(167, 137, 118, 1);
    box-shadow: 0px 6px 22px -6px rgba(0,0,0,0.75);
    border-radius: 50%;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: .2s;
}

.go-top-button i {
    position: absolute;
    font-size: 1.7rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: var(--white);
    transition: .2s;
}

.show {
    z-index: 10;
}

.show .go-top-button {
    animation: popup .3s ease-in-out;
    width: 6rem;
    height: 6rem;
    z-index: 11;
}

.show i {
    transform: translate(-50%, -50%) scale(1);
}

@keyframes popup {
    0% {
        width: 0;
        height: 0;
    }
    50% {
        width: 7rem;
        height: 7rem;
    }
    100% {
        width: 6rem;
        height: 6rem;
    }
}

/* Contenedor del Slider */
.slider-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    margin: 0 auto;
    padding-bottom: 5rem;
}

/* Contenedor de Slides */
.slides-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

/* Slide Individual */
.slide {
    min-width: 100%;
    box-sizing: border-box;
    padding: 2rem;
}

/* Título del Slide */
.slide h2 {
    text-align: center;
    color: var(--white);
    font-family: 'Cooper Hewitt';
    font-size: 2.4rem;
    margin-bottom: 3rem;
}

/* Contenedor de Tarjetas */
.cards_container--habilidades {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
    gap: 3rem;
    justify-items: center;
}

/* Botones de Navegación */
.slider-btn {
    position: absolute;
    top: 50%;
    background-color: rgba(0,0,0,0.5);
    color: var(--white);
    border: none;
    font-size: 2rem;
    padding: 1rem;
    cursor: pointer;
    transform: translateY(-50%);
}

.left-btn {
    left: 10rem;
}

.right-btn {
    right: 10rem;
}

/* Estilos de las Tarjetas */
.cards--habilidades {
    background-color: var(--eerie-black);
    border-radius: 24px;
    width: 13rem;
    height: 13rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards--habilidades img {
    width: 60%;
    margin: 0 auto;
}

.cards--habilidades p {
    color: var(--white);
    font-family: 'Cooper Hewitt';
    font-size: 1.6rem;
    margin-top: 1rem;
}

.card--img--container {
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.card--img--container img {
    height: 8rem;
    width: 8rem;
}


.card--p--container {
    height: 30%;
}

.slide h2 {
    position: relative;
    bottom: 2.5rem;
}

@media (max-width: 700px) {

    :root {
        --handw: calc(15rem * 0.4);  /* Se reduce el valor actual en un 70% */
        --piernaw: calc(14rem * 0.7);
        --benchiw: calc(40rem * 0.7);
    }

    .handBench {
        top: 7.5rem;
        left: 12rem;
    }
    .pierna {
        top: 12rem;
        left: 15rem;
    }

    .farola {
        width: 20rem;
        top: -15rem;
    }
    .light {
        top: -13rem;
        left: 10rem;
    }

    #movilLuz {
        left: 13rem;
    }

    /* Ajustar posición de los botones en móviles */
    .left-btn {
        left: 3rem; /* Mueve el botón más cerca del borde izquierdo */
        top: 62rem;
        width: 7rem;
        height: 7rem;
        
    }
    
    .right-btn {
        right: 3rem; 
        top: 62rem;/* Mueve el botón más cerca del borde derecho */
        width: 7rem;
        height: 7rem;
        
    }
    .contacto::before {
        content: "";
        position: absolute;
        width: 80%;
        height: 100%;

    }
    


    @keyframes caidaCafe {
        0% {
            transform: rotate(0deg) translateY(0);
        }
        50% {
            transform: rotate(45deg) translateY(50px);
        }
        100% {
            top: 80%;
            transform: rotate(90deg) translateY(50px);
            left:24%;
        }
    }




    /* Reducir tamaño de los botones en pantallas pequeñas */
    .slider-btn {
        font-size: 1.5rem;
        padding: 0.75rem;
    }
}

@media (max-width: 400px) {
        
    @keyframes caidaCafe {
        0% {
            transform: rotate(0deg) translateY(0);
        }
        50% {
            transform: rotate(45deg) translateY(50px);
        }
        100% {
            top: 80%;
            transform: rotate(90deg) translateY(50px);
            left:26%;
        }
    }
    }
#mouse-gradient {
    background: radial-gradient(600px at 50% 50%, rgba(29, 78, 216, 0.15), transparent 80%);
    pointer-events: none; /* No interfiere con el clic del ratón */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: background-position 0.3s ease;
}
/* Puedes añadir este estilo en tu archivo CSS */
#background-gradient {
    pointer-events: none; /* Para que no interfiera con los eventos del ratón */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Asegúrate de que esté detrás del contenido */
    transition: background 0.3s; /* Transición suave del fondo */
}

/*test*/